@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url(//db.onlinewebfonts.com/c/0fddb08144cea533dcd3d39388b7ffbe?family=GrandSlang+Roman);


/* --------------- */
/* Global styles */
/* ---------------x*/

* {
    box-sizing: border-box;
}
body {
    background-color: #eddcd2;
    font-family: 'Montserrat', sans-serif;
    margin: auto 0;
}

header nav{
    padding: 0.8em;
    position: fixed;
    top: 0;
    background-color: #eddcd2;
}

.home-nav, .block{
    display:flex;
    flex-flow: row no-wrap;
    justify-content: flex-end;
    font-size: 1.05rem;
    height: auto;
    width: 100%;
    padding-inline-start: 0;
}

.push{
    margin-left:0;
}

.home-nav li {
    padding: 0.75em;
    list-style-type: none;  
}

.home-nav li a{
    text-decoration: none;
    color: gray;
}



.footer {
    background: #b7b7a4;
    color: gray;
    padding: 0;
    position:fixed; /* keep on the bottom */
    bottom: 0;
    width: 100%;   
    text-align: center; 
    font-family: Lato, Verdana, sans-serif;
}



/* ------------------ */
/* home page styles */
/* ------------------ */


.parent-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    margin: 10%

}

.grid-item-sidebar{
    grid-column:1/2;
    grid-row: 1;
    margin: auto auto auto 0;

}


.home-sidebar{
    margin: 0;
    list-style-type: none;
}


.home-sidebar li {
    font-family: "GrandSlang Roman";
    font-size: 180px;
}

.home-sidebar li a{
    color:gray;
    text-decoration: none;
    /* margin-top: 35%; */
}

.home-sidebar li:visited{
    text-decoration: none;    
}

.home-sidebar li:hover{
    font-weight: 900;
    font-style: italic;
}

.grid-item-desc{
    grid-column: 2/2;
    grid-row: 1/1;

}

.description{
    font-family: 'Montserrat', sans-serif;
    color: rgb(109, 106, 106);
    letter-spacing: 0.1em;
    margin-top: 70%
}


.description h1{
    font-size: 125%;
    font-weight: bold;
}

/* media is a CSS rule  is used to apply different styles 
for diferent media types/devices */
@media only screen and (min-width: 800px) and (max-width: 1300px) {
    .parent-container{
        display: grid;
        grid-template-columns: 3fr ;
        grid-template-rows: 2fr;
        margin: 10%
        
    }

    .grid-item-desc{
        grid-column: 1/1;
        grid-row: 2/2;
    
    }
    .grid-item-sidebar{
        grid-column:1/1;
        grid-row: 1/2;
    
    }
    .description{
        margin-top:0;
        margin-left: 3%;
        align-self: left;
    }
}


@media only screen and  (max-width: 800px) {
    .parent-container{
        display: grid;
        grid-template-columns: 3fr ;
        grid-template-rows: 2fr;
        margin-top: 30%;
        padding-top:0%;
        
    }

    .grid-item-desc{
        grid-column: 1/1;
        grid-row: 2/2;
    }
    .grid-item-sidebar{
        grid-column:1/1;
        grid-row: 1/2;
    
    }
    .description{
        margin-top:0;
        margin-left: 3%;
        align-self: left;
    }
    .home-sidebar li {
        font-family: "GrandSlang Roman";
        font-size: 700%;     
}

/* --------------------- */
/* ----About page styles--- */
/* ------------------------- */

.about-parent-container{
    margin: 10% 15% 0 15%;
    display: grid;
    width: 75%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr;
    margin-bottom: 10%;
}

.image-container{
    grid-column: 2/2;
    grid-row: 1/2;
}
.about-section{
    grid-column-start: 1/2;
    grid-row: 1/2;
}

.about-section h1{
    font-family: "GrandSlang Roman";
    color: gray;
    font-size: 400%;
    margin-top: 0;
}

.about-section p{
    letter-spacing:0.1em;
    font-size: 100%;
    color: gray;
    margin-right: 10%;
    text-align: justify;
    line-height: 1.6;
}

#profile-image{
    width: 400px;
    height: 500px;
}

@media only screen and (max-width: 1200px){
    .about-parent-container{
        margin: 10% 15% 0 25%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
    }

    .image-container{
        grid-column: 1/1;
        grid-row: 1/2;
    
    }
    .about-section{
        grid-column-start: 1/1;
        grid-row: 2/2;
    }
}


/* ----------------------------- */
/* ----Portfolio page styles ----*/
/* ------------------------------- */

.gallery-container{

    display: grid;
    /* another way to create columns */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    width: 80%;
    margin: 10%;
    size-adjust: 90%n;

}


.image-projects{
    width: 100%;
    height: 100%;
    object-fit: cover;
}